.blogPlaceholder::placeholder {
  color: #8b8b8b;
  font-weight: 600;
}

.rounded_top_right {
  border-top-right-radius: 10px; /* Adjust the radius as needed */
}
.rounded_bottom_right {
  border-bottom-right-radius: 10px;
}
.blogInputField_rounded_top_bottom_left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.blogInputField_border {
  border-color: #40b0fd;
}
.blogInputField:focus {
  /* Target the specific border class */
  outline: none; /* Remove default outline */
  border: 1px solid #40b0fd; /* Add custom border on focus */
}
