@tailwind base;
@tailwind components;
@tailwind utilities;

.dmsans {
  font-family: var(--font-dmsans);
}
.dmsans100 {
  font-family: var(--font-dmsans);
  font-weight: 100;
}
.dmsans200 {
  font-family: var(--font-dmsans);
  font-weight: 200;
}
.dmsans300 {
  font-family: var(--font-dmsans);
  font-weight: 300;
}
.dmsans400 {
  font-family: var(--font-dmsans);
  font-weight: 400;
}
.dmsans500 {
  font-family: var(--font-dmsans);
  font-weight: 500;
}
.dmsans600 {
  font-family: var(--font-dmsans);
  font-weight: 600;
}
.dmsans700 {
  font-family: var(--font-dmsans);
  font-weight: 700;
}
.dmsans800 {
  font-family: var(--font-dmsans);
  font-weight: 800;
}
.dmsans900 {
  font-family: var(--font-dmsans);
  font-weight: 900;
}
.letterSpacing1 {
  letter-spacing: 1px;
}
.letterSpacing2 {
  letter-spacing: 2px;
}
.letterSpacing3 {
  letter-spacing: 3px;
}
.letterSpacing4 {
  letter-spacing: 4px;
}

.spacegrotesk {
  font-family: var(--font-spacegrotesk);
}
.spacegrotesk300 {
  font-family: var(--font-spacegrotesk);
  font-weight: 300;
}
.spacegrotesk400 {
  font-family: var(--font-spacegrotesk);
  font-weight: 400;
}
.spacegrotesk500 {
  font-family: var(--font-spacegrotesk);
  font-weight: 500;
}
.spacegrotesk600 {
  font-family: var(--font-spacegrotesk);
  font-weight: 600;
}
.spacegrotesk700 {
  font-family: var(--font-spacegrotesk);
  font-weight: 700;
}
